absl-py==0.7.1
astor==0.8.0
config==0.4.2
gast==0.2.2
google-pasta==0.1.6
grpcio==1.21.1
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1.1
mido==1.2.9
numpy==1.16.4
pretty-midi==0.2.8
progress==1.5
protobuf==3.7.1
six==1.12.0
tb-nightly==1.14.0a20190301
tensorflow-gpu==2.0.0a0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
Werkzeug==0.15.4
